version: '2'
services:
  postgres:
    image: "postgres:9.4"
    environment:
      - "POSTGRES_USER: user"
      - "POSTGRES_PASSW ORD: user"
    ports:
     - "5432:5432"
  web:
    build: .
    ports:
     - "3000:3000"
    volumes:
     - .:/src
    links:
      - postgres
    command: ["node", "app.js"]